body {
	font-family: Verdana,sans-serif;
	background-color: LightYellow;
}

h1 {
	background-color: Yellow;
}

ul {
	background-color: Gold;
}

p {
	margin: 0px;
	margin-left: 1.5em;
	font-style: italic;
}

table, td {
	background-color: LightGreen;
	border: 2px solid;
	padding: 1px;
}